{% extends "bootstrap/base.html" %}

{% block title %}
sawrword
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">sawrword</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{url_for('about_us') }}">About</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            <li><a href="{{ url_for('signup') }}">Contact Us</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
 <div>
              <img src="static/icons/cover3.jpg" width="100%" height="130">
</div>
    <div class="container">
      <div class="a">
<h2>Built for maven and autodidact</h2>
<p class="lead">
sawrword is a platform inspired by the way you learn,
share and enhance the knowledge and imagination, you can
write your blogs, articles, journals and spread news and share thoughts
so that you can make a difference.</p>
</div>
</div><!-- /.container -->
{% include 'flash.html' %}
{% endblock %}