{% extends "bootstrap/base.html" %}

{% block title %}
Profession
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">sawrword</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('dashboard') }}">Home</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
            <li><a href="#">Forums</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="{{ url_for('edit_profile')}}">Edit-Profile<span class="sr-only">(current)</span></a></li>
            <li><a href="#">Education</a></li>
            <li><a href="#">Experience</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Skills</a></li>
            <li><a href="">Interests</a></li>
            <li><a href="">Events</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h3 class="page-header">{{ name }}</h3>
      <article class="media content-section" >
          <img src="{{ image_file }}" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail" background="/static/img.jpg ">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('edit_profile')}}">Edit-Profile</a>
            </div>
        </article>
            <div class="row placeholders">
          </div>
          <div class="table-responsive">

          </div>
        </div>
          </div>
        </article>

          </div>
        </div>
      </div>
    </div>
{% include 'flash.html' %}
{% endblock %}