{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-6">
        <div class="well">
            <form action="/notepad" name="notepad" method=post>
                <legend>Write Your Thoughts</legend>
                    {{ form.command(rows='20',value=command)}}
                <br>
                <center>
                    {{ form.send(class="btn btn-primary") }}
                </center>
                <br>
                {% for i,_ in buttons %}
                {{ form.btn_template(label=i, value=i) }}
                {% endfor %}
            </form>
        </div>
    </div>

<script src="http://www.levmuchnik.net/Content/ProgrammingTips/WEB/XMLDisplay/XMLDisplay.js"> </script>
<link rel="stylesheet" type="text/css" href="http://www.levmuchnik.net/Content/ProgrammingTips/WEB/XMLDisplay/XMLDisplay.css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <div class="col-xs-6">
        <div class="well">
            <legend>Journal View <br>{{ message_id }}</legend>
            {{ outputform.copy(class="btn btn-primary",id="copy") }}
            <span id="copyStatus"></span>
            <div id="out" style="display:none">
                {{output}}
            </div>

            <div id="XMLHolder"/>

            <script>
                xml=out.innerHTML;
                if(xml.trim()){
                    xml=xml.replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&');
                    LoadXMLString('XMLHolder',xml);
                }

                $('#copy').click(function(e) {
                  CopyToClipboard('out')
                });

                function CopyToClipboard(containerid) {
                      let textarea = document.createElement('textarea')
                      textarea.id = 't'
                      textarea.style.height = 0
                      document.body.appendChild(textarea)
                      textarea.value = document.getElementById(containerid).innerText
                      let selector = document.querySelector('#t')
                      selector.select()
                      var ok=document.execCommand('copy')
                      if (ok) copyStatus.innerHTML = 'Copied!';
                      else copyStatus.innerHTML = 'Unable to copy!';
                      document.body.removeChild(textarea)
                }



            </script>

            <style type="text/css">
                .blink {
                    animation-duration: 3s;
                    animation-name: blink;
                    animation-iteration-count: 1;
                    animation-direction: alternate;
                    animation-timing-function: ease-in-out;
                }
                @keyframes blink {
                    from {
                        opacity: 1;
                    }
                    to {
                        opacity: 0;
                    }
                }
    	    </style>


        </div>
    </div>

</div>
{% endblock %}
